body{
    font-family: Arial, Helvetica, sans-serif;
}



header{
    display: grid;
    text-align: center;
    padding: 10px;
}
header a{ 
        border: 2px solid black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 20px;
        color: white;
        background-color: black;
}

header a:hover{
    background-color: white;
    color: black;
}

div.varor {
    display: flex;
    margin: 10px;
    padding: 10px;
}

div.varor div{
    padding: 10px;
    margin: 10px;
    border: solid black 2px;
}

div.varor h1{
    text-align: center;
}

input{
    padding: 5px;
    background-color: black;
    color: white;
}
::placeholder{
    color: #F0F0F0;
}

.reglog:hover{
    color: black;
    background-color: white;
}

.notice{
    color: red;
    position: fixed;
}